# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*~

# x509 certificates and signing requests
*.key
*.pem
*.crt
*.csr

FIN-CLARIN-Administration/~$KP_Aineistot.xlsx

#Ansible
*.retry

#CSC Openstack
project*-openrc.sh

#Clarin Openstack
clarin-openrc.sh

#Wordpress files
wordpress.sql.gz
wp-uploads.zip

# Python virtualenv stuff
.venv
.venv?

# Vim temp files
*.sw?
FIN-CLARIN-Administration/~$KP_Licenses.xlsx
FIN-CLARIN-Administration/~$New_resource.xlsx
